//
// Callouts
//
.bd-callout
	padding 1.25rem 1.875rem // 20px 30px
	margin-top 2.5rem // 40px
	margin-bottom 2.5rem // 40px
	border 0
	border-left-width 0
	border-radius 0
	font-family $font-family-accents
	word-break break-word!important
	overflow-wrap break-word!important

.bd-callout code
	border-radius 0

// Variations
.bd-callout-info
	border 0
	background $accent-light
