// Forms

.form-control
  font-size 1.25rem
  font-weight 400
  line-height 1.5
  color $base-dark
  border 0px solid transparent
  border-radius none
  transition border-color .15s ease-in-out,box-shadow .15s ease-in-out
  &:focus
    color $base-dark
    background-color transparent
    border-color transparent
    outline 0
    box-shadow none
