// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav-link
	padding-top 0.15rem!important
	padding-bottom 0.15rem!important
	font-size $font-size-medium

.navbar-light
	.navbar-nav
		.nav-link
			color $base-dark

.navbar-expand-lg
	.navbar-nav
		.nav-link
			padding-right 1.625rem // 26px
			padding-left 1.625rem // 26px
