// V A R I A B L E S


// Color system
$accent-light = #EBF2FE
$accent-dark = #0025FF
$base-dark = #1A171C
$base-light = #FFFFFF
$secondary-obscure = #626262
$secondary-darker = #D8D8D8
$secondary-dark = #E3E3E3
$secondary-lighter = #EBEBEB
$secondary-light = #F3F3F3

// Fonts
$font-family-base = 'Roboto', sans-serif
$font-family-accents = 'Roboto Mono', monospace

$font-size-small = 0.75rem // 12px
$font-size-base-reduced = 0.875rem // 14px
$font-size-base = 1rem // 16px
$font-size-medium = 1.125rem // 18px
$font-size-large = 1.5rem // 24px
$font-size-extralarge = 2rem // 32px

// Breakpoints
$breakpoint-sm = 576px
$breakpoint-md = 768px
$breakpoint-lg = 992px
$breakpoint-xl = 1200px
