<footer>
  <div class="l-footer">
    <div class="m-footer bg-base-dark">
      <div class="px-3">
        <div class="row m-padding--small">
          <div class="col">
            <div class="m-logo m-logo--footer d-flex align-items-center">
              <div class="border-right pr-2 pr-lg-3">
                <a href="/" class="m-navbar__brand">Logo</a>
              </div>
              <div class="pl-2 pl-lg-3">
                <p class="m-logo__text text-base-light m-0">APIS</p>
              </div>
              <div class="pl-4">
                <p class="font-size-small text-base-light m-0">Copyright © 2018. - All rights reserved</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="pr_off-canvas-mask" style="display:none;"></div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 " crossorigin="anonymous "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T " crossorigin="anonymous "></script>
<script type="text/javascript" src="{{ "/assets/js/utils.js" | absolute_url }}"></script>
