<div class="col-12 col-lg-3 col-xl-2 bd-sidebar d-none d-lg-block">
  <nav class="bd-links" id="bd-docs-nav">
    <div class="bd-toc-item active">
      <a class="bd-toc-link mt-0" href="introduction.html">Introduction</a>
      <ul class="nav bd-sidenav">
        <li>
          <a href="definitions-and-acronyms.html">Definitions and acronyms</a>
        </li>
      </ul>
    </div>
    <div class="bd-toc-item">
      <a class="bd-toc-link mt-0" href="api-services-description.html">API Services Description</a>
      <ul class="nav bd-sidenav">
        <li class="active bd-sidenav-active">
          <a href="{{ "/bulksales/docs/generate-wso2-access-token.html" | absolute_url }}">Generate WSO2 Access Token</a>
        </li>
        <li>
          <a class="bd-list-collapse collapsed" data-toggle="collapse" href="#upload-files" role="button" aria-expanded="false" aria-controls="upload-files">Upload Files</a>
          <ul class="bd-list-child list-unstyled collapse" id="upload-files">
            <li>
              <a href="get-the-excel-file-type.html">Get the Excel file type</a>
            </li>
            <li>
              <a href="upload-excel-file-service.html">Upload Excel File Service</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="bd-list-collapse collapsed" data-toggle="collapse" href="#load-sales" role="button" aria-expanded="false" aria-controls="load-sales">Load Sales</a>
          <ul class="bd-list-child list-unstyled collapse" id="load-sales">
            <li>
              <a href="get-currency.html">Get currency</a>
            </li>
            <li>
              <a href="get-countries.html">Get countries</a>
            </li>
            <li>
              <a href="save-sales.html">Save sales</a>
            </li>
            <li>
              <a href="save-sales-background.html">Save Sales Background:</a>
            </li>
            <li>
              <a href="edit-sales.html">Edit Sales</a>
            </li>
            <li>
              <a href="get-sales.html">Get Sales</a>
            </li>
            <li>
              <a href="get-sales-week.html">Get Sales Week</a>
            </li>
            <li>
              <a href="get-sales-month.html">Get Sales Month</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="bd-list-collapse collapsed" data-toggle="collapse" href="#process" role="button" aria-expanded="false" aria-controls="process">Process</a>
          <ul class="bd-list-child list-unstyled collapse" id="process">
            <li>
              <a href="get-user-process.html">Get User Process</a>
            </li>
            <li>
              <a href="get-user-process-result.html">Get User Process Result</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="bd-list-collapse collapsed" data-toggle="collapse" href="#sales-consultation" role="button" aria-expanded="false" aria-controls="sales-consultation">Sales consultation</a>
          <ul class="bd-list-child list-unstyled collapse" id="sales-consultation">
            <li>
              <a href="daily-and-monthly-sales.html">Daily and monthly sales</a>
            </li>
            <li>
              <a href="weekly-sales.html">Weekly sales</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
