// Search

.m-search
  display flex
  position fixed
  padding 1rem
  top 0
  width 100%
  height 6rem
  z-index 9999
  box-shadow 0 0.5rem 1rem 0 rgba(0,0,0,0.08)
  @media (max-width:$breakpoint-sm)
    height 5rem // 80px
