// T Y P O G R A P H Y


@font-face {
	font-family: '';
	src: url('../fonts/');
	src: url('../fonts/') format('embedded-opentype'), url('../fonts/') format('woff2'), url('../fonts/') format('woff'), url('../fonts/') format('truetype'), url('../fonts/') format('svg');
}
@font-face {
	font-family: '';
	src: url('../fonts/');
	src: url('../fonts/') format('embedded-opentype'), url('../fonts/') format('woff2'), url('../fonts/') format('woff'), url('../fonts/') format('truetype'), url('../fonts/') format('svg');
}
@font-face {
	font-family: '';
	src: url('../fonts/');
	src: url('../fonts/') format('embedded-opentype'), url('../fonts/') format('woff2'), url('../fonts/') format('woff'), url('../fonts/') format('truetype'), url('../fonts/') format('svg');
}
@font-face {
	font-family: 'font-awesome';
	src: url('../fonts/fontawesome/fa-solid-900.woff2') format('woff2'), url('../fonts/fa-solid-900.woff') format('woff'), url('../fonts/fontawesome/fa-solid-900.woff2') format('ttf'), url('../fonts/fontawesome/fa-solid-900.woff2') format('svg'), url('../fonts/fontawesome/fa-solid-900.woff2') format('eot');
}


// Font-weight
.font-family-base
	font-family $font-family-base

.font-family-headings
	font-family $font-family-headings

.font-family-accents
	font-family $font-family-accents

// Font-size
.font-size-small
	font-size $font-size-small

.font-size-base
	font-size $font-size-base

.font-size-medium
	font-size $font-size-medium

.font-size-large
	font-size $font-size-large

.font-size-extralarge
	font-size $font-size-extralarge

// Text colors
.text-secondary
	color $secondary!important

.text-base-light
	color $base-light!important

.text-base-dark
	color $base-dark!important
