<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
<body>
	{% include offcanvas.html %}
	<header>
		<div class="l-header fixed-top">
			<div class="bg-base-dark">
				<!-- Search input -->
				<div class="m-search align-items-center justify-content-between bg-base-light" id="search-box" style="display: none;">
					<form class="w-100">
						<div class="form-group m-0">
							<input type="text" class="form-control" placeholder="Busca..." autocomplete="off">
						</div>
					</form>
					<a href="#" class="icon-close" id="search-close" data-dismiss="modal" aria-label="Close"></a>
				</div>
				<!-- Search input -->
				<div class="px-3">
					<div class="m-navbar d-flex justify-content-start justify-content-lg-between align-items-end align-items-lg-center">
						<div class="m-logo d-flex align-items-center">
							<div class="border-right pr-2 pr-lg-3">
								<a href="/" class="m-navbar__brand">Logo</a>
							</div>
							<div class="pl-2 pl-lg-3">
								<p class="m-logo__text text-base-light m-0">APIS</p>
							</div>
						</div>
						<div class="d-flex align-items-center">
							<button class="navbar-toggler d-inline-block d-lg-none" id="btn-off-canvas" type="button">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="m-navbar__title offset-lg-3 mr-auto mr-lg-0">
							<p class="text-base-light mb-2 mb-lg-0">BuuuulkSales Services</p>
						</div>
						<div class="d-flex align-items-center">
							<a href="#" id="show-search-box" class="btn btn-link"><img src="/bulksales/assets/images/icons/icon-search.svg" width="19" height="19" alt=""><span class="d-none d-lg-inline-block">&nbsp;Buscar</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		<div class="row">
			{% include sidebar.html %}
			<main class="col-12 col-lg-9 col-xl-6 offset-xl-1 bd-content" role="main">
				<nav aria-label="breadcrumb">
					<ol class="m-breadcrumb breadcrumb">
						<li class="breadcrumb-item"><a href="#">Grupo Telepizza APIs</a></li>
						<li class="breadcrumb-item"><a href="#">BulkSales Services</a></li>
						<li class="breadcrumb-item active" aria-current="page">Generate WSO2 Access Token</li>
					</ol>
				</nav>
				{% include post.html %}
			</main>
		</div>
	</div>
	{% include footer.html %}
</body>

</html>
